## Mini Project

In [ ]:
!pip install pyspark

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("Big Data Mini Project") \
    .getOrCreate()

In [40]:
# Read CSV from HDFS
df = spark.read.csv("hdfs://192.168.1.11:9000/MDS/world_economic_indicators.csv",
                    header=True,
                    inferSchema=True)

In [41]:
df.show(5)

+--------------------+------------+----+-----------------------------------------+--------------------------------------------+-------------------+-----------------------+-------------------+-----------------------+
|        Country Name|Country Code|Year|Personal remittances, received (% of GDP)|Unemployment, total (% of total labor force)|GDP (current US$)_x|GDP growth (annual %)_x|GDP (current US$)_y|GDP growth (annual %)_y|
+--------------------+------------+----+-----------------------------------------+--------------------------------------------+-------------------+-----------------------+-------------------+-----------------------+
|               Aruba|         ABW|1960|                                     NULL|                                        NULL|               NULL|                   NULL|               NULL|                   NULL|
|Africa Eastern an...|         AFE|1960|                                     NULL|                                        NULL|    2.1125015452E10|                   NULL|    2.1125015452E10|                   NULL|
|         Afghanistan|         AFG|1960|                                     NULL|                                        NULL|      5.377778111E8|                   NULL|      5.377778111E8|                   NULL|
|Africa Western an...|         AFW|1960|                                     NULL|                                        NULL|    1.0447637853E10|                   NULL|    1.0447637853E10|                   NULL|
|              Angola|         AGO|1960|                                     NULL|                                        NULL|               NULL|                   NULL|               NULL|                   NULL|
+--------------------+------------+----+-----------------------------------------+--------------------------------------------+-------------------+-----------------------+-------------------+-----------------------+
only showing top 5 rows

In [42]:
# Print the schema to understand the data types
df.printSchema()

root
 |-- Country Name: string (nullable = true)
 |-- Country Code: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Personal remittances, received (% of GDP): double (nullable = true)
 |-- Unemployment, total (% of total labor force): double (nullable = true)
 |-- GDP (current US$)_x: double (nullable = true)
 |-- GDP growth (annual %)_x: double (nullable = true)
 |-- GDP (current US$)_y: double (nullable = true)
 |-- GDP growth (annual %)_y: double (nullable = true)

In [43]:
df = df.withColumnRenamed("Personal remittances, received (% of GDP)", "Remittances_GDP") \
       .withColumnRenamed("Unemployment, total (% of total labor force)", "Unemployment_Rate") \
       .withColumnRenamed("GDP (current US$)_x", "GDP_x") \
       .withColumnRenamed("GDP growth (annual %)_x", "GDP_Growth_x") \
       .withColumnRenamed("GDP (current US$)_y", "GDP_y") \
       .withColumnRenamed("GDP growth (annual %)_y", "GDP_Growth_y")

In [47]:
# Check for duplicates by considering all columns
duplicate_rows = df.count() - df.dropDuplicates().count()
print(f"Number of duplicate rows: {duplicate_rows}")

Number of duplicate rows: 0

In [44]:
# Count nulls per column
from pyspark.sql.functions import col, isnan, when, count

df.select([count(when(col(c).isNull(), c)).alias(c) for c in df.columns]).show()

+------------+------------+----+---------------+-----------------+-----+------------+-----+------------+
|Country Name|Country Code|Year|Remittances_GDP|Unemployment_Rate|GDP_x|GDP_Growth_x|GDP_y|GDP_Growth_y|
+------------+------------+----+---------------+-----------------+-----+------------+-----+------------+
|           0|           0|   0|           7941|             9246| 3393|        4027| 3393|        4027|
+------------+------------+----+---------------+-----------------+-----+------------+-----+------------+

In [45]:
df = df.fillna(0)

In [48]:
df = df.drop("GDP_x", "GDP_y")

In [49]:
df.show()

[Stage 42:>                                                         (0 + 1) / 1]

+--------------------+------------+----+---------------+-----------------+------------+------------+
|        Country Name|Country Code|Year|Remittances_GDP|Unemployment_Rate|GDP_Growth_x|GDP_Growth_y|
+--------------------+------------+----+---------------+-----------------+------------+------------+
|               Aruba|         ABW|1960|            0.0|              0.0|         0.0|         0.0|
|Africa Eastern an...|         AFE|1960|            0.0|              0.0|         0.0|         0.0|
|         Afghanistan|         AFG|1960|            0.0|              0.0|         0.0|         0.0|
|Africa Western an...|         AFW|1960|            0.0|              0.0|         0.0|         0.0|
|              Angola|         AGO|1960|            0.0|              0.0|         0.0|         0.0|
|             Albania|         ALB|1960|            0.0|              0.0|         0.0|         0.0|
|             Andorra|         AND|1960|            0.0|              0.0|         0.0|         0.0|
|          Arab World|         ARB|1960|            0.0|              0.0|         0.0|         0.0|
|United Arab Emirates|         ARE|1960|            0.0|              0.0|         0.0|         0.0|
|           Argentina|         ARG|1960|            0.0|              0.0|         0.0|         0.0|
|             Armenia|         ARM|1960|            0.0|              0.0|         0.0|         0.0|
|      American Samoa|         ASM|1960|            0.0|              0.0|         0.0|         0.0|
| Antigua and Barbuda|         ATG|1960|            0.0|              0.0|         0.0|         0.0|
|           Australia|         AUS|1960|            0.0|              0.0|         0.0|         0.0|
|             Austria|         AUT|1960|            0.0|              0.0|         0.0|         0.0|
|          Azerbaijan|         AZE|1960|            0.0|              0.0|         0.0|         0.0|
|             Burundi|         BDI|1960|            0.0|              0.0|         0.0|         0.0|
|             Belgium|         BEL|1960|            0.0|              0.0|         0.0|         0.0|
|               Benin|         BEN|1960|            0.0|              0.0|         0.0|         0.0|
|        Burkina Faso|         BFA|1960|            0.0|              0.0|         0.0|         0.0|
+--------------------+------------+----+---------------+-----------------+------------+------------+
only showing top 20 rows

In [75]:
from pyspark.sql.functions import col

# Select the necessary columns: Country Name, Year, Unemployment Rate
df_selected = df.select(
    "Country Name", 
    "Year", 
    "Unemployment_Rate"
)

# Pivot the DataFrame to have years as columns and the unemployment rate as values
df_unemployment_rate = df_selected.groupBy("Country Name").pivot("Year").agg(
    {"Unemployment_Rate":"first"}
)

# Rename columns for clarity
df_unemployment_rate = df_unemployment_rate.select(
    "Country Name", 
    *[col(str(year)).alias(str(year)) for year in range(1960, 2021)]  # Adjust the year range if needed
)

# Show the pivoted DataFrame
df_unemployment_rate.show()

+--------------------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+
|        Country Name|1960|1961|1962|1963|1964|1965|1966|1967|1968|1969|1970|1971|1972|1973|1974|1975|1976|1977|1978|1979|1980|1981|1982|1983|1984|1985|1986|1987|1988|1989|1990|       1991|       1992|       1993|       1994|       1995|       1996|       1997|       1998|       1999|       2000|       2001|       2002|       2003|       2004|       2005|       2006|       2007|       2008|       2009|       2010|       2011|       2012|       2013|       2014|       2015|       2016|       2017|       2018|       2019|       2020|
+--------------------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+
|          South Asia| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0|5.979255618|6.036625246|6.022131837|6.037819174|6.180571258|6.292098654|6.361844282|6.524146391|6.705768792| 6.74920996|6.911586875|7.053528941|7.272928852|7.389762099|7.499249201|7.361908097|7.316339886|7.208892474|7.286736502|7.071689426|6.983516116|7.051179613|7.137701737|6.967700153|7.096895992|7.063445936|6.998482765|6.950700159|6.197325053|9.253801146|
|                Chad| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0|      0.662|      0.661|        0.7|      0.675|      0.708|      0.724|      0.737|      0.753|      0.787|      0.806|      0.799|      0.823|      0.827|      0.805|      0.856|      0.912|      0.924|      0.943|      0.958|      0.952|      1.005|        1.0|      1.027|      1.042|      1.072|      1.118|      1.127|       1.13|       1.12|      1.645|
|            Paraguay| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0|        5.1|       4.98|       5.06|       4.41|        3.4|       8.15|       5.36|       4.42|       5.34|       7.61|       6.21|       9.39|       6.81|       6.51|       4.82|       5.28|       4.71|       4.42|       5.46|       4.57|       4.67|       4.09|       4.38|       5.03|       4.56|       5.25|       4.61|       6.22|       6.59|       7.55|
| Lower middle income| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0|5.618325824|5.693822287|5.791354035| 5.83376203|6.076154481|6.149098061|6.258974721|6.451214017|6.620337578|6.682014445|6.748881994|6.754000858|6.821582917|6.733723543|6.776740578|6.590183525| 6.44804974|6.328595107|6.476838149|6.400824198|6.366689713|6.388726338|6.374066732|6.328230606|6.457251473|6.421970581|6.375584012|6.223680579| 5.73089945|7.777896698|
| Low & middle income| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0|4.417839641|4.470406529|4.682852805|5.008125901|5.321909892|5.457200719| 5.58709351|5.828538496|6.024969449|5.919885821|6.068166886|6.233590245|6.350983051|6.239447943|6.234142101| 6.02984038| 5.89737103|5.868116028|6.118168259|5.915893592|5.805201782|5.734783262|5.722255561| 5.69688552|5.870712737|5.972898279|5.941092132|5.841800652|5.717488187|6.983443672|
|Heavily indebted ...| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0|4.961855147|5.030568014| 5.01200433|4.987047231|4.906895575|4.944888132|4.965077367|5.001236484|5.114994793|5.148172594|5.075114571|5.040244496|5.012935187|4.880484205|4.752429786|4.703838147|4.660618224|4.642867769|4.709042773|4.915492884|4.868754267|4.705053631|4.448116944| 4.48612177|4.672703149|4.639702189|4.673842069| 4.61918565| 4.63446813|5.453946848|
|               World| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0|4.935353611|5.082678038|5.351495981|5.610617554|5.777542355|5.881647437|5.920920638|6.092633107|6.233895568| 6.07109561|6.179645013|6.423977315|6.541301931|6.415078928|6.337354311|6.063915595| 5.85084689|5.869602723|6.460828125|6.345891543|6.191782501|6.138786957|6.116252925|5.981353296|6.010887722|6.003204824|5.873643767|5.699075945|5.543160758| 6.89827321|
|             Senegal| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0|      5.608|      5.631|       5.63|      5.654|      5.555|      5.616|      5.597|      5.547|       5.54|      5.582|      5.574|       5.65|      6.641|      7.758|      8.865|      10.03|     10.073|     10.104|     10.194|     10.233|      10.36|       9.41|      8.589|      7.625|       6.76|       4.46|       4.08|       3.57|       2.86|      3.509|
|    Congo, Dem. Rep.| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0|       3.04|      3.043|       3.05|      2.993|      2.962|      2.964|       2.98|      2.953|      2.957|      2.961|      2.928|      2.895|      2.873|      2.857|       2.85|      3.087|      3.316|      3.551|      3.807|      4.017|      4.254|       4.49|      4.468|      4.449|      4.457|      4.479|      4.459|      4.434|      4.436|      5.127|
|              Sweden| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0|       3.24|       5.72|       9.33|       9.58|        8.9|       9.55|      10.36|       8.94|       7.61|       5.47|       4.73|       4.97|       5.55|       6.69|       7.49|       7.07|       6.16|       6.23|       8.35|       8.61|        7.8|       7.98|       8.05|       7.95|       7.43|       6.99|       6.72|       6.36|       6.83|       8.29|
|          Cabo Verde| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0|     11.607|     11.481|     11.465|     11.328|     11.333|     11.318|     11.277|     11.219|     11.185|      11.11|      11.17|      11.09|     11.047|     10.938|     10.913|     10.847|     10.725|     10.743|     10.754|      10.67|     10.874|     11.127|     11.357|     11.586|      11.81|     12.002|      12.24|      12.17|     12.207|     14.878|
|East Asia & Pacif...| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0|2.402898789|2.360619822| 2.61637222| 2.92031441|3.001046195|3.110923048|3.206950595|3.376221154|3.460091568|3.415192334|3.850351548|4.171568807|4.424254104|4.416583014|4.495868022|4.390292463|4.368078062|4.455837195|4.439853423|4.175097397|4.124898972|4.063379104|4.064152592|4.060863859|4.136944998|4.052255128|3.931049431|3.824279814|3.911264641|4.384423439|
|            Kiribati| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|        0.0|
|Least developed c...| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0|4.092761091|4.123612213|4.115439128|4.119343993|4.079228853|4.102671122|4.164999297| 4.21720365|4.274178625| 4.32431789|4.367794186|4.453686675|4.551065755|4.506015074|4.477018223|4.390023695|4.467262736|4.511322568|4.598308256|4.629980052| 4.65598744|4.679468413| 4.65154099|4.652114207|4.730258898|  4.7947935|4.879533522|4.791442589|4.798019691|5.609593534|
|              Guyana| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0|     11.954|       11.9|     11.873|     11.847|     11.884|     11.818|     11.827|     11.935|      11.84|      11.89|     11.812|      11.81|     11.576|     11.279|     11.027|       10.7|     10.943|     11.301|     11.538|     11.812|     12.058|     12.333|      12.64|     12.954|     13.252|     13.475|     13.757|      14.02|      13.52|     15.589|
|Pacific island sm...| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0|3.204101595|3.073072406|3.183910378|3.156052241|3.228940265|3.292186764|3.459778809|3.445322417|3.399271467|3.673562605|3.625946354|3.598842807|3.568141681|3.457815294|3.023115791|3.005095023|3.107867899|3.145180029|3.293816412| 3.14194291|3.088586769|3.239076304|3.046560727|3.011525699|3.005226328|2.968486723|2.974238029|3.005583728|3.017993759|3.285646308|
|             Eritrea| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0|      5.313|      5.428|      5.465|       5.49|      5.378|      5.358|      5.492|      5.552|      5.606|      5.616|      5.666|      5.693|      5.677|      5.591|      5.623|      5.639|      5.652|      5.596|      5.645|      5.892|      5.782|      5.693|       5.63|      5.678|      5.797|      5.807|      5.807|      5.697|      5.704|       7.28|
|         Philippines| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0|      3.834|      3.802|      3.738|      3.661|      3.651|      3.608|       3.63|      3.828|      3.691|      3.655|        3.7|      3.627|       3.53|       3.55|        3.8|       4.05|       3.43|       3.72|       3.86|       3.61|       3.59|        3.5|        3.5|        3.6|       3.07|        2.7|       2.55|       2.34|       2.24|       2.52|
|            Djibouti| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0|     29.887|     29.681|     29.745|     29.494|     29.426|     29.309|     29.119|     28.955|     28.757|     28.678|      28.52|     28.351|     28.219|     28.094|     27.948|     27.768|     27.619|     27.455|     27.402|     27.194|     26.971|     26.873|     26.714|      26.51|     26.337|     26.197|      26.06|     26.149|     26.315|     28.048|
|               Tonga| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0| 0.0|      1.291|      1.383|        1.3|      1.654|      1.965|      2.504|      2.915|      3.251|      3.576|      4.103|      4.328|      4.639|       5.18|      4.051|      2.502|       1.09|      1.183|      1.212|      1.479|      1.467|      1.453|      1.661|      1.768|      1.826|      1.941|      1.904|      2.074|       2.25|      2.244|      2.654|
+--------------------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+
only showing top 20 rows

In [ ]:
!pip install pymongo

In [ ]:
!pip install pandas

In [71]:
import pymongo
import pandas as pd
from pymongo import MongoClient

In [76]:
# Convert PySpark DataFrame to Pandas
pandas_df = df_unemployment_rate.toPandas()

# Convert each row into a dictionary
records = pandas_df.to_dict(orient='records')


client = MongoClient("mongodb://admin:password@192.168.1.11:27017/")
db = client["MDS"]
collection = db["unemployment"]

# Insert all records at once
if records:  # Check if there are records to insert
    result = collection.insert_many(records)
    if result.inserted_ids:  # Check if insert was successful
        print(f"{len(result.inserted_ids)} records successfully inserted into MongoDB!")
else:
    print("No records to insert.")

266 records successfully inserted into MongoDB!